*{
    margin: 0;
    /* outline: 1px solid coral; */
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}
body{
    position: relative;
}
h1{
    overflow: hidden;
}
.mainNav{
    position: fixed !important;
    cursor:pointer;
    top: 0px !important;
    width: 100%;
    z-index: 15 !important;
    justify-content: space-around !important;
    color: white;
    background-color: rgba(0, 0, 0, 0);
}

.logo{
    width: 150px;
}
.bookbtn{
    background-color: transparent;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 30px;
    color: white;
    border: solid 2px white;
}
.menus p{
    margin: 0 !important;
}
.menus p:hover{
    transition: 1000ms;
    color: orange;
    border-bottom: solid 2px orange;
    padding: 10px 0;
}
.bookbtn:hover{
    transition: 1000ms;
    color: white;
    border:solid 2px orange;
    background-color: orange;
}
.sideMenu{
    display: none;
}
.sec1{
    position: relative;
    background-image:linear-gradient(rgba(0, 0, 0, 0.300), rgba(0, 0, 0, 0.300)), url(./asset/home);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100%;
}
.overlayOffcanvas{
    display: none;
}
.sunContainer{
    color: white;
    position: absolute;
    bottom: 10%;
    left: 15%;
}
.sunContainer h1{
    font-family:Style Script;
    font-size: 80px;
    overflow: hidden; 
    margin: 0;
}
.sunContainer p{
    margin: 0;
    font-family:'Times New Roman';
    font-size: 30px;
}


/* <!-- ======================SECTION 2======================== --> */
.sec2{
    position: relative;
    height: 75vh;
}
.caroSlideImg{
    height: 75vh;
}
.topSec2{
    padding: 150px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 2;
    height: 75vh;
    width: 50%;
    background-color: rgba(36, 70, 110, 0.700);
}
.topSec2 h1{
    color: orange;
    margin-bottom: 30px;
}
.topSec2 br{
    margin-bottom: 25px;
}
.caroNext{
    right: 30% !important;
    color: black !important;
    font-size: 25px;
}
.caroNextBtn{
    background-color: white !important;
    padding:10px 20px;
    border-radius: 50%;
    opacity: 100%;
}

/* <!-- ======================SECTION 3======================== --> */

.sec3{
    background-image: linear-gradient(to right, white 50%, rgb(36, 70, 110) 50%);
    position: relative;
    height: 73vh;
    display: flex;
    align-items:center;
    justify-content:right;
}
.part2Blue{
    width: 50%;
    padding: 150px;
    padding-left: 300px;
    text-align: right;
}
.part2Blue h1{
    color: white;
    font-size: 35px;
    font-weight: bold;
}
.part2Blue h5{
    font-size: 25px;
    font-weight: 400;
    color: orange;
    margin-bottom: 50px;
}
.part2Blue p{
    color: white;
}
.part2Blue button{
    margin-top: 60px;
    font-weight: 600;
    font-size: 20px;
    transition: 1000ms;
    background-color: transparent;
    border: none;
    color: white;
}
.part2Blue button:hover{
    color: orange;
}

@media screen and (max-width:1024px){
    .mainNav{
        padding: 20px !important;
        justify-content: space-between !important;
    }
    .bookbtn{
        background-color: transparent;
        padding: 7px 15px;
        font-weight: bold;
        font-size: 10px;
    }
    .sideMenu{
       display: block;
    }
    .bookbtn{
        display: none;
    }
    .sec1{
        height: 100vh;
         background-size: 150vh;
        /* background-image: url(asset/vintage-stoneberry.jpg); */
    }
    .logo{
        width: 100px;
    }
    .menus{
        display: none !important;
    }
    .overlayOffcanvas{
        height: 0;
        opacity: 0;
        width:0;
        position: fixed;
        z-index: 5;
        top: 0;
        left: 0;
        display: block;
        background-color:white;
        overflow-x: hidden;
        transition: 1.2s;
    }
    .closebtn{
        display: none;
    }
    .sunContainer{
        color: white;
        position: absolute;
        bottom: 10%;
        left: 10%;
    }
    .sunContainer h1{
        font-family:Style Script;
        font-size: 60px;
        overflow: hidden; 
        margin: 0;
    }
    .sunContainer p{
        margin: 0;
        font-family:'Times New Roman';
        font-size: 18px;
    }
}

