*{
    margin: 0;
    /* outline: 1px solid coral; */
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
body{
    position: relative;
}
.mainNav{
    position: fixed;
    cursor:pointer;
    top: 0px !important;
    width: 100%;
    z-index: 10;
    justify-content: space-around !important;
    color: white;
    background-color: rgba(0, 0, 0, 0.315);
}

.logo{
    width: 150px;
}
.bookbtn{
    background-color: transparent;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 30px;
    color: white;
    border: solid 2px white;
}
.menus p:hover{
    transition: 300ms;
    color: orange;
    border-bottom: solid 2px orange;
    padding: 10px 0;
}
.bookbtn:hover{
    transition: 3000ms;
    color: white;
    border:solid 2px orange;
    background-color: orange;
}
.sideMenu{
    display: none;
}
.sec1{
    position: relative;
    background-image: url(./asset/home);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100%;
}

@media screen and (max-width:1024px){
    .mainNav{
        background-color: rgba(0, 0, 0, 0.733);
        padding: 20px !important;
        justify-content: space-between !important;
    }
    .bookbtn{
        background-color: transparent;
        padding: 7px 15px;
        font-weight: bold;
        font-size: 10px;
    }
    .sideMenu{
       display: block;
    }
    .bookbtn{
        display: none;
    }
    .sec1{
        height: 100vh;
         background-size: 150vh;
        /* background-image: url(asset/vintage-stoneberry.jpg); */
    }
    .logo{
        width: 100px;
    }
    .menus{
        display: none !important;
    }
    .dropContainer{
        width: 90%;
        height: 150vh;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 4;
        position: absolute;
        background-color: black;
    }
}

